.container-delete{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 50%;
    height: 40%;
    padding-left: 3em;
    margin-left: 2em;
    border: 1px black solid;
    
}

.container-delete h3{
    text-align: center;
    font-size: 35px;
    margin-bottom: 0.4em;
}

.container-delete #campo-registro,#campo-nome,#campo-salario{
    width: 60%;
    height: 1.8em;
    justify-content: start;
    text-align: right;
    margin-bottom: 0.5em;
    border: 1px solid;
    text-align: center;
}

.container-delete label{
    font-size: 19px;
}

.container-delete div input{
    padding-top: 0.2em;
    
    border: 1px solid black;
}

.container-delete div #pesquisar{
    padding-top: 0.2em;
    width: 3em;
}
    


.container-delete div{
    display: flex;
    justify-content:flex-end;
    gap: 0.2em;
    margin-right: 0.5em;
}

.container-delete #submit-delete{
    height: 2em;
    margin-top: 1.5em;
    padding-top: 0.5em;
    width: 60%;
}

.container-registro{
    margin-bottom: 1.8em;
}