*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

p{
    font-size: 14px;
}

body{
    background-image: url(../assets/1121302.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_titulo{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: gray;
}

.container_menu{
    display: flex;
    justify-content: center;
    width: 100%;   
    margin-bottom: 2rem;
}
.container_menu a{
    padding: 1rem;
    text-decoration: none;
    font-size: large;
    color: blanchedalmond;
}
.corpo_conteudo{
    width: auto;
    height: 100vh;
    border: black solid;
    border-radius: 1%;
    border-right: none;
    margin: 0em 10em 0em 5em ;
    box-sizing: border-box;
}

.container-conteudo{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center; 
}
.container-cadastro label{
    width: 70%;
    font-size: 19px;
    color: blanchedalmond;
}

.container-cadastro{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    width: 40%;
    height: 40%;
    
    margin-left: 2em;
    border: 1px black solid;
}
.container-cadastro h3{
    text-align: center;
    font-size: 35px;
    color: blanchedalmond;
    margin-bottom: 0.2em;

}
.container-cadastro input{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgb(255, 255, 255,0.2);
}

.container-cadastro input{
    border: 1px solid black;
    width: 70%;
    padding-top: 0.5em;

}
#cadastro-salario{
    
    margin-bottom: 2em;
}

/*#cadastro-nome{
    width: 60%;
}*/

/* Remove as setinhas no Chrome, Safari e Edge */
#cadastro-registro[type="number"]::-webkit-outer-spin-button,
#cadastro-registro[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Remove as setinhas no Firefox */
#cadastro-registro[type="number"] {
    -moz-appearance: textfield;
}

/* Remove as setinhas no Chrome, Safari e Edge */
#cadastro-salario[type="number"]::-webkit-outer-spin-button,
#cadastro-salario[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Remove as setinhas no Firefox */
#cadastro-salario[type="number"] {
    -moz-appearance: textfield;
}

.container-delete h3{
    font-size: 35px;
    color: blanchedalmond;
}

.container-delete .container-registro label{
    color:gray;
    font-weight: 400;
}
.container-registro #registro{
    background-color: rgb(255, 255, 255,0.2);
}
.container-delete label{
    color: blanchedalmond;
}

#campo-nome, #campo-registro,#campo-salario{
    background-color: rgb(255, 255, 255,0.2);
}
.container-delete input,#submit-cadastrar{
    border-radius: 0.5em;
    background-color: rgb(255, 255, 255,0.5);
}
