@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../assets/1121302.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 14px;
}

a {
    padding: 1rem;
    text-decoration: none;
    transition: none;
    font-size: large;
    color: blanchedalmond;
}
a:hover{
    color: blanchedalmond;
}

.container_titulo {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.container_titulo h1{
    color: gray;
}
.title_projeto{
    font-family: "serif";
    font-size: 60px;
    font-weight: 700;
}


.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    font-family: "serif";   
}


.corpo_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 102vh;
    border: black solid;
    border-radius: 1%;
    border-right: none;
    margin: 0em 10em 0em 5em;
    box-sizing: border-box
}

.box-titulo {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-list {
    font-size: 35px;
    font-family: "serif";
    font-weight: 600;
    color: blanchedalmond;
}

th{
    color: gray;
}
td{
    color: blanchedalmond;
}

.delete-btn{
    padding: 0 0.2em ;
    color: blanchedalmond;

    background-color: rgb(255, 255, 255,0.5);
}



/* Media Query for devices with max-width of 600px */
@media only screen and (max-width: 600px) {
    .container_titulo {
        width: 100%;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        
    }

    
    .title_projeto{
        font-family: "serif";
        font-size: 60px;
        font-weight: 700;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
        font-family: "serif";
    }

    .corpo_conteudo {
        margin: 0;
        width: 100%;
        height: auto;
        padding: 1em;
        border-right: none;
    }

    .box-titulo {
        height: auto;
        padding: 1em 0;
    }

    .titulo-list {
        font-size: 28px;
    }
}

.container-tabela {
    max-height: 700px; /* Define uma altura máxima para o contêiner da tabela */
    overflow-y: auto;  /* Adiciona um scroll vertical */
    overflow-x: auto;  /* Adiciona um scroll horizontal se necessário */
}

table {
    width: 100%;      /* A tabela ocupa 100% da largura do contêiner */
    border-collapse: collapse;  /* Remove os espaços entre as células */
}

th, td {
    border: 1px solid #ddd; /* Borda simples */
    padding: 8px;           /* Espaçamento interno */
}

.container-pesquisa{
    position: relative;
    color: gray;
    left: 13%;
    margin-bottom: 0.5em;
}

.container-pesquisa input{
    border: 1px black solid;
    border-radius: 5%;
    opacity: 0.5;
}

#pesquisar{
    color: blanchedalmond;
    background-color: rgb(255, 255, 255,0.5);
    padding: 0 0.2em;
}

