<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style-logout.css">
    <script src="../script/action-cadastrar.js"></script>
    <title>Andino turismo</title>
</head>

<body>
    <header>
        <!--<div class="container_titulo">
            <h1 class="title_projeto">Andino turismo</h1>
        </div>-->

        <div class="container_menu">
            <a href="#">Home</a>
            <a href="register.html">Registro de Viagem</a>
            <a href="list.html">Lista de Viagem</a>
            <a href="commission.html">Comissão</a>
            <a href="cadastro.html" id="cadastrar">Cadastrar</a>
            <div class="container-logout" style="top: 5%;">
                <input type="submit" value="logout" id="logout">
                <img src="https://img.icons8.com/?size=100&id=Wgd88M98QIxt&format=png&color=000000" alt="img-logout" id="img-logout">
            </div>
        </div>
    </header>
    <main class="corpo_conteudo">
        <div class="primeiro_titulo">
        </div>
        <div class="all-container">
            <div class="container_conteudo scrollable-div-content">
                <h2 class="titulo">Andino Turismo</h2>
                <div class="primeiro_conteudo conteudo">
                    <div class="container_text">
                        <p>Na Andino Turismo, somos apaixonados por proporcionar experiências únicas e memoráveis em um dos destinos mais fascinantes da América do Sul: o Chile. 
                            Oferecemos passeios exclusivos, roteiros personalizados e uma imersão completa na cultura, gastronomia e paisagens impressionantes desse país encantador.
                        </p>
                    </div>
                </div>

            </div>

            <div class="container-clima">
                <div class="containerA">
                    <script>
                        (function (d, s, id) {
                            if (d.getElementById(id)) {
                                if (window.__TOMORROW__) {
                                    window.__TOMORROW__.renderWidget();
                                }
                                return;
                            }
                            const fjs = d.getElementsByTagName(s)[0];
                            const js = d.createElement(s);
                            js.id = id;
                            js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

                            fjs.parentNode.insertBefore(js, fjs);
                        })(document, 'script', 'tomorrow-sdk');
                    </script>

                    <div class="tomorrow" data-location-id="019111" data-language="EN" data-unit-system="METRIC"
                        data-skin="dark" data-widget-type="upcoming" style="padding-bottom:22px;position:relative;">
                        <a href="https://www.tomorrow.io/weather-api/" rel="nofollow noopener noreferrer"
                            target="_blank"
                            style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;">
                            <img alt="Powered by the Tomorrow.io Weather API"
                                src="https://weather-website-client.tomorrow.io/img/powered-by.svg" width="500"
                                height="18"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../script/logout.js" ></script>
    

</body>

</html>